body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
}
table { 
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 45px;
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	border-collapse: collapse;
}
th {
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
	border: 1px solid black;
	color: black;
	background: #BBBBBB; 
}
td {
	padding: 8px;
	color: black;
	border: 1px solid black;
}

.odd
{
	background: #E3E3E3; 
}

.graphset
{
	width: 1000px;
	margin: 0 auto;
}
